.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 90px;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  font-family: sans-serif;
}

/* Menu Items */
.nav-menu li {
  cursor: pointer;
}
.anchor-link{
  text-decoration: none;
  color:white;
}
/* Active State — Persistent Underline */
.nav-menu p.active {
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-weight: bold; */
  position: relative;
}

/* Underline Effect */
.nav-menu p.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background:white;
}

/* Connect Button */
.nav-connect {
  padding: 12px 22px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
  font-size: 18px;
  font-weight: 500;
  font-family: Arial;
  cursor: pointer;
  transition: transform 0.3s;
  border:none;
  color:white;
}

/* Mobile Menu - Open State */


.nav-connect:hover {
  transform: scale(1.05);
}
.nav-mob-close{
  display: none;
}
.nav-mob-open{
  display: none;
}
@media(max-width:768px){
  .navbar{
    margin:20px 50px;

  }
  .nav-connect{
    display: none;
  }
  .nav-mob-open{
    display:flex;
    position:fixed;
    right:30px;
  }
  .nav-mob-close{
    display: block;
    position: relative;
    left:290px;
    width:30px;
    top:30px;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top:0;
    gap:30px;
    background-color:#1F0016;
    width:350px;
    height: 100%;
    z-index:2;
    transition: right 0.5s;
    right:-350px;
  }
  .nav-menu li{
    font-size: 30px;
    padding-left:100px;
    flex-direction: row;
    gap:20px;
  }
}
