.mywork{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 60px 120px ;
}
.mywork-title{
  position: relative;

}
.mywork-title h1{
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.mywork-title img{
  position: absolute;
  bottom:0;
  right:0;
  z-index:-1;
}
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.mywork-format img{
  box-sizing: border-box;
  width:419px;
  height: 280px;
  cursor: pointer;
  transition: 0.6s;
}
.mywork-format:hover{
  transform:scale(1.12);
  border-radius: 10px;
  border: 4px solid #B923E1;
}
.mywork-showmore{
  display: flex;
  gap:15px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 25px 50px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
  transition: .6s;
  cursor: pointer;
}
.mywork-showmore:hover{
  background: linear-gradient(267deg ,#DA7C25 0.36% , #B923E1 102.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #B923E1;
  cursor: pointer;
  gap: 25px;
}
a , a p{
  text-decoration: none;
  color:white;
  cursor: pointer;
}
.mywork-showmore:active{
  transform: scale(.79);
  transition: 0.5s;
}

/* added new css accordingly */
.mywork-format {
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  width:419px;
  /* height: 280px; */
  cursor: pointer;
  transition: 0.6s;
  padding: 10px;
  border:2px solid white;
  border-radius: 15px;
}
.mywork-format h4{
  padding: 10px 15px;
}
.mywork-format h3{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 20px;
  background: linear-gradient(267deg ,#DA7C25 0.36% , #B923E1 102.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mywork-format img{
  width: 100%;
  padding: 10px;
  /* border:1px solid white; */
  border-radius: 20px;
 
}
.mywork-format p{
  color:#d4d4d4;
  font-family: Arial;
  /* max-width: 300px; */
  font-size: 18px;
  line-height: 28px;
  padding: 10px;
  padding-top: 15px;
}


.mywork-container{
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr;
  gap:40px;
  justify-content:space-around;
  margin-bottom: 60px;
  
}
@media(max-width:768px){
  .mywork{
    gap:50px;
    margin:50px 70px;
    align-items: start;
  }
  .mywork-title h1{
    padding:0;
    font-size: 50px;
    font-weight: 600;
  }
  .mywork-title img{
    width: 130px;
    margin-right: -20px;
  }
  .mywork-container{
    grid-template-columns: 1fr 1fr;
    gap:30px;
    
  }
  .mywork-container img{
    width: 100%;
    height:60%;
  }
  .mywork-showmore{
    padding: 20px 40px;
    font-size: 18px;
    margin: 20px auto;
   
  }
  /* .mywork-format{ */
    /* max-width: 300px; */
    /* box-sizing: border-box; */
  /* } */
  /* .mywork-format p{
   font-size: 18px;
   line-height: 22px;
  } */
  .mywork-format p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    text-align: center;
  }
  .mywork-format {
    max-width: 300px;
    overflow: hidden;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .mywork-showmore img{
    width: 20px;
  }
}
@media(max-width:450px){
  .mywork{
    margin:50px;
  }
  .mywork-format img{
   
    max-width: 100%;
    /* display: none; */
  }
  .mywork-format { 
    font-size:20px;
    line-height: 30px;
    /* max-width:250px; */
    margin-bottom: 0; 
    overflow: hidden;
  }

  .mywork-format p{
    display: none;
  }
  .mywork-title img{
    display: none;
  }
  .mywork-title h1{
    font-size: 40px;
    margin-left: 15px;
  }
  .mywork-showmore span{
    display: none;
  }
  .mywork-showmore{
    margin-top: 0px;
  }
  .mywork-container{
    grid-template-columns: 1fr ;
    gap:30px;
    /* margin-left: -5px; */
    margin-bottom: 5px;
  }
  
}